/* ------ fonts ------ */
/* 

/ means the root of the current drive;
./ means the current directory;
../ means the parent of the current directory.

*/

@font-face {
  font-family: 'Open Sans Light Bold Italic';
  src: url('assets/fonts/OpenSans-BoldItalic.eot');
  src: url('assets/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
    url('assets/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
    url('assets/fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light Italic';
  src: url('assets/fonts/OpenSansLight-Italic.eot');
  src: url('assets/fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('assets/fonts/OpenSansLight-Italic.woff') format('woff'),
    url('assets/fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('assets/fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('assets/fonts/OpenSans-Light.eot');
  src: url('assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-Light.woff2') format('woff2'),
    url('assets/fonts/OpenSans-Light.woff') format('woff'),
    url('assets/fonts/OpenSans-Light.ttf') format('truetype'),
    url('assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light Bold';
  src: url('assets/fonts/OpenSans-Bold.eot');
  src: url('assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('assets/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}



/* ------ Main Styling ------ */

/* ------ Elements ------ */
section.home {
  width: 100%;
  height: 420px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

/* ------ Layout (Mobile-first: 480px) ------ */
body {
  font-family: 'Open Sans Light';
  /* look into why this is not working */
  font-size: 1rem;
  color: #ffffff;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #000000;
  padding: 0.875rem 0 1.625rem 0;
  height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 150px;
}

header p {
  font-size: 0.8rem;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Open Sans Light";
  border-radius: 0.375rem;
  border: 1px solid #c2c2c2;
}

.navbar a {
  float: left;
  /* font-size: 16px; */
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  /* cursor: pointer; */
  font-size: 1.125rem;
  border: none;
  outline: none;
  color: #000000;
  padding: 0.1rem 0.1rem 0.1rem 0.5rem;
  /* background-color: inherit; */
}

/* .navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

footer {
  height: 55px;
  background-color: #000000;
  padding: 1rem 0;
  height: 60px;
  font-family: "Open Sans Light";
  color: #c2c2c2;
  text-align: center;
}

/* ------ Content ------ */

/* need this for landing page */
/* section {
  display: none;
} */

.arts {
  width: 100%;
  height: 420px;
  background-color: orange;
}

.business {
  width: 100%;
  height: 420px;
  background-color: yellow;
}

.sports {
  width: 100%;
  height: 420px;
  background-color: green;
}

.technology {
  width: 100%;
  height: 420px;
  background-color: blue;
}

.fashion {
  width: 100%;
  height: 420px;
  background-color: violet;
}