/* ------ Content ------ */

/* need this for landing page */
/* section {
  display: none;
} */

section.home {
  width: 100%;
  height: 420px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.arts {
  width: 100%;
  height: 420px;
  background-color: orange;
}

.business {
  width: 100%;
  height: 420px;
  background-color: yellow;
}

.sports {
  width: 100%;
  height: 420px;
  background-color: green;
}

.technology {
  width: 100%;
  height: 420px;
  background-color: blue;
}

.fashion {
  width: 100%;
  height: 420px;
  background-color: violet;
}