* {
  box-sizing: border-box;
}

/* ------ Layout (Mobile-first: 480px) ------ */
body {
  font-family: $base-font;
  /* look into why this is not working */
  font-size: $base-font-sz;
  color: $base-font-clr;
  margin: 0 auto;
  background-color: $bg-color;
}

/* Header */
header {
  background-color: $bg-color;
  height: 85vh;
  padding-top: $base-padding * 2;
  display: flex;
  @include flex();

  @include tablet {
    @include flex(row, left);
  }
}

.shrink {
  height: $header-ht;
  padding: 0.875rem 0 1.625rem 0;

  @include tablet {
    height: $header-ht / 2.25;
    padding: 0;
  }
}

// .selected-sec {
//   @include phone {
//     height: 260px;
//     padding: 0.875rem 0 1.625rem 0;
//   }
// }

.logo {
  @include tablet {
    padding-left: $base-padding * 6.25;
  }

  #logo {
    max-height: $logo-sz * 2;

    @include tablet {
      max-height: $logo-sz / 1.15;
    }
  }
}

.shrink-logo {
  height: $logo-sz;

  @include tablet {
    height: $logo-sz / 2.25;
    padding-right: $base-padding * 4;
  }
}

.navbar-frd {
  display: flex;
  @include flex;

  @include tablet {
    padding: $base-padding * 1.25;
  }

  p {
    font-size: $base-font-sz * 0.8;
    padding: $base-padding 0px;

    @include tablet {
      font-size: $base-font-sz * 0.9;
      padding: 0 0 $base-padding 0;
    }
  }
}

.navbar {
  // width: 25%;
  overflow: hidden;
  background-color: #ffffff;
  font-family: $base-font;

  border-radius: 0.375rem;
  border: 1px solid #c2c2c2;

  // @include tablet {
  //   align-self: left;
  // }

  select {
    // font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: none;
    // float: left;
    /* font-size: 16px; */
    /* color: white; */
    text-align: center;

    &:focus {
      outline: 0;
    }
  }
}

// End of Header

// Content
.news {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  article {
    width: 100%;
    display: flex;
    height: 420px;
    z-index: 0;

    @include tablet {
      flex: 0 1 50%;
    }

    a {
      @include tablet {
        position: relative;
        // display: flex;
        // height: 420px;
        width: 100%;
      }
    }
  }


}

.newsImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 420px;
  position: absolute;
  z-index: 2;

  p {
    position: absolute;
    bottom: 0;
    z-index: 88;
    padding: 8px;
    width: 100%;

    line-height: $base-font-sz * 1.5;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.6);
  }
}

// End of Content

// Footer
footer {
  background-color: #000;
  /* padding: 1rem 0; */
  height: 15vh;
  font-family: Open Sans Light;
  font-size: .9rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 0px 20px 0px; */

  p {
    color: $footer-txt-clr;
  }

  @include desktop {
    justify-content: left;
    padding-left: $base-padding * 2;
  }

}

// End of Footer