* {
  box-sizing: border-box;
}

/* ------ Layout (Mobile-first: 480px) ------ */
body {
  font-family: $base-font-family;
  /* look into why this is not working */
  font-size: 1rem;
  color: $base-font-color;
  margin: 0 auto;
}

/* Header */
header {
  background-color: $bg-color;
  padding: 0.875rem 0 1.625rem 0;
  // height: 100vh;
  height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}

.selected-sec {
  @include phone {
    height: 260px;
    padding: 0.875rem 0 1.625rem 0;
  }
}

select {
  font-family: "Open Sans Light";
  border: none;

  &:focus {
    outline: 0;
  }
}

.logo img {
  max-height: 150px;
}

.navbar {
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Open Sans Light";
  border-radius: 0.375rem;
  border: 1px solid #c2c2c2;

  & a {
    float: left;
    /* font-size: 16px; */
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

/*
.dropdown {
  float: left;
  overflow: hidden;

  &.dropbtn {
    cursor: pointer; 
    font-size: 1.125rem;
    border: none;
    outline: none;
    color: #000000;
    padding: 0.1rem 0.1rem 0.1rem 0.5rem;
     background-color: inherit; 
  }
}

 .navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: red;
} 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  & a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #ddd;
    }
  }
}
*/

.show {
  display: block;
}

footer {
  height: 55px;
  background-color: $bg-color;
  padding: 1rem 0;
  height: 60px;
  font-family: $base-font-family;
  color: $footer-txt-color;
  text-align: center;
}