$phone-width: 599px;
$tablet-width: 600px; // as per Jim and W3Schools
$desktop-width: 1240px;

$bg-color: #000000;

$base-font-color: #ffffff;
$base-font-size: 16px;

$base-font-family: "Open Sans Light";

$footer-txt-color: #c2c2c2;